<h1>Сортировка слов в строке</h1>

<p>С клавиатуры вводится строка со словами, разделенными пробелами. Выведите новую строку, сформированную
из введенной путем перестановки местами слов в порядке убывания их длины.</p>

<div id="form">
  <%= form_with method: :post, url: ajax_result_url do |form| %>
    <%= form.text_field :string, placeholder: 'Введите строку', required: true %>
    <%= form.submit 'Отправить' %>
  <% end %>
</div>

<div id="result">
</div>
